@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
}

body {
  color: rgb(var(--foreground-rgb));
	background: #cecece;
	font-family: 'Inter', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
